html body {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Montserrat', sans-serif;
}
.container {
    width: 1160px;
    margin: 0 auto;
    height: 100%;
}

.header {
    background-image: url(../img/Sections\ background/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    background-color: rgba(73, 71, 63,0.6);
    height: 121px;
}

.nav-content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content:space-between;
}

.logo-letter {
    font-size: 40px;
    text-align: left;
    padding: 10px;
    background-color: #18CFAB;
   color: white;
   clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    font-weight: bold;
    margin-right: 10px;
}
.main-logo  {
    text-decoration: none;
}

.logo-the {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.logo-ham {
    font-size: 30px;
    color: #18CFAB;
    font-weight: bold;
}

.menu {
    list-style-type: none;
    margin: 0; 
}

.menu-link {
    display: inline;
    color: #B8B8B8;
    font-size: 13px;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
}

.menu-link:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 3px solid #18CFAB;
    bottom: -55px;

}

.menu-link:hover {
    color: #18CFAB;
}

.search {
    text-decoration: none;
    display: inline;
    margin-left: 17px;
    color: #B8B8B8;
}

.nav-menu {
    display: flex;
}

.apper-text {
    font-size: 35px;
    color: white;
}

.wordpress {
    color: #18CFAB;
}

.middle-text {
    color: white;
    font-size: 69px;

}
.header-text {
    text-align: center;
    margin-top: 183px;
    margin-bottom: 71px;
}

.bottom-text {
    font-size: 30px;
    color: #B8B8B8;
}

.head-btns {
    display: flex;
    justify-content: center;
    padding-bottom: 183px;
}

.btn {
    padding: 20px;
    background-color: #18CFAB;
    color: white;
    border-top: 4px solid white;
    text-decoration: none;
    font-size: 13px;
    margin:0 10px;
    border-radius: 5px;
}
.purchase {
    background-color: #00CBF6;
}

.second-block {
    display: flex;
    height: 375px;
}
.dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: #1C2A33;
    color: #18CFAB;
    border-top: 4px solid #18CFAB;
}
.green {
    border-top: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: #18CFAB;
    color: white;
}

.translate-green-inner {
    transform: translate(0, 8px)
}

.block-descr {
    font-size: 13px;
    font-weight: bold;
}
.inner {
    text-align: center; 
}

h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 56px;
    position: relative;

}

h2::before {
    content: "";
    width: 77px;
    border-bottom: 2px solid #18CFAB;
    position: absolute;
    top: 62px;
    left: calc(50% - 45px);
}

h2::after {
    content: "";
    width: 77px;
    border-bottom: 2px solid #18CFAB;
    position: absolute;
    top: 65px;
    left: calc(50% - 27px);
}

.tabs {
    margin-bottom: 77px;
}
.tabs::after {
    content: "";
    display: block;
    clear: both;
}

.tabs-menu {
    display: flex;
    padding: 0;
    border-right: 1px solid #EBECEC;
}

.tabs-link {
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 20px 0;
    background-color: #F8FCFE;
    border-bottom: 1px solid #EBECEC;
    border-top: 1px solid #EBECEC;
    border-left: 1px solid #EBECEC;
    font-size: 16px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.tabs-link:hover {
    background-color: #18CFAB;
    color: white;
}

.tabs-active {
    background-color: #18CFAB;
    color: white;
}

.tabs-active::before {
    content: "";
    position: absolute;
    left: calc(50% - 5px);
    top: 100%;
    border-top: 10px solid #18CFAB;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.tab-pic {
    width: 194px;
    height: 136px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tabs-content {
    display: none;
}

.show-tab {
    display: block;
}

.third-block {
    background: url(../img/Sections\ background/section-2.jpg);
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -380px -390px;
    
}

.third-block-text {
    padding-top: 127px;
    padding-bottom: 75px;
    text-align: center;
}

.third-main-head {
    font-size: 40px;
    color: #18CFAB;
    text-align: center;
}

.third-title {
    text-align: center;
    color: #D8D8D8;
    font-size: 16px;
}

.third-block-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 132px;
}

.our-work {
    background-color: #F8FCFE;
}
.work-link {
    display: inline;
    color: #848484;
    list-style: none;
    border-bottom: 1px solid #EBECEC;
    border-top: 1px solid #EBECEC;
    border-left: 1px solid #EBECEC;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
}

.work-link:hover {
    color: #18CFAB;
    box-shadow: 0 -3px 0 #18CFAB
}

.work-link-active {
    color: #18CFAB;
    box-shadow: 0 -3px 0 #18CFAB
}

.work-links {
    display: flex;
    padding: 0;
    justify-content: center;
}

.work-link:last-of-type {
    border-right: 1px solid #EBECEC;
}

.work-pics {
    margin-top: 71px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.work-pic .img {
    width: 100%;
    height: 100%;
}

.work-pic:hover .sub-block {
    display: block;
    opacity: 1;
    transition: 0.6s;
}

.work-pic {
    position: relative;
    width: 25%;
}

.work-btn {
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: center;

}
.load-btn {
    padding: 25px;
    background-color: #18CFAB;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    margin-bottom: 50px;
    border: none;
    outline: none;

}

.cross {
    margin-right: 15px;
}

.load-btn img {
    vertical-align: middle;
}
.sub-block {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    border-top: 3px solid #18CFAB;
    opacity: 0;
}

.sub-chain-icon {
    display: inline-block;
    background: url("../img/icons/sprite.png");
    background-position: -45px -0px;
    width: 41px;
    height: 40px;
}

.sub-chain-icon:hover {
    background-position: -2px -0px;
    width: 41px;
    height: 40px;
}

.sub-search-icon {
    display: inline-block;
    background: url("../img/icons/sprite.png");
    background-position: -45px -42px;
    width: 41px;
    height: 40px;
}

.sub-search-icon:hover {
    background-position: -2px -42px;
    width: 41px;
    height: 40px;
}

.sub-icon {
    margin-top: 46px;
    text-align: center;
}

.slider-container {
    height: auto;
}

.sub-block-text {
    font-size: 24px;
    color: #18CFAB;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}

.sub-block-text2 {
    font-size: 20px;
    color: #8A8A8A;
    text-align: center;
    margin-top: 13px;
}

.sub-descr {
    margin-top: 32px;
}

.news-gallary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 22px 14px;
    margin-bottom: 66px;

}
.slot {
    min-width: 0;
    position: relative;
    text-align: center;
    background-color: #F8FCFE;
    cursor: pointer;
}

.news-pic {
    width: 100%;
    height: 208px;
}

.post-date {
    position: absolute;
    width: 69px;
    height: 67px;
    background-color: #203E38;
    top: 0;
    right: 0;
}

.post-date-text {
    font-size: 16px;
    color: white;
    margin-bottom: 8px;
}

h3 {
    font-size: 18px;
}

.slot-info {
    font-size: 14px;
    color: #777777;
}

.slot:hover .post-date {
    background-color: #18CFAB;
}
.slot:hover h3 {
    color: #18CFAB;
}

.feedback-block {
    background-image: url("../img/Sections background/section-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}
.tang {
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 22px;
}

.feedback {
    font-size: 16px;
    color: #bbbbbb;
    text-align: center;
}

.gallary-img {
    width: 32%;
    margin-bottom: 15px;
}
.img-of-gallary {
    width: 100%;
    height: 100%;
}



.grid {
    display: grid;
    height: 400px;
    grid-gap: 5px;
    grid-template-areas: "pic1 pic1 pic1 pic2 pic2 pic2"
                         "pic3 pic3 pic4 pic4 pic5 pic5"
                         "pic6 pic6 pic7 pic7 pic8 pic8"
                        "pic9 pic9 pic10 pic10 pic11 pic11";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto;

}
.layer1 {
    grid-area: pic1;
    position: relative;
}

.layer2 {
    grid-area: pic2;
    position: relative;
}

.layer3 {
    grid-area: pic3;
}

.layer4 {
    grid-area: pic4;
}

.layer5 {
    grid-area: pic5;
}
.layer6 {
    grid-area: pic6;
}
.layer7 {
    grid-area: pic7;
}
.layer8 {
    grid-area: pic8;
}
.layer9 {
    grid-area: pic9;
}
.layer10 {
    grid-area: pic10;
}
.layer11 {
    grid-area: pic11;
}
.img-map img {
    width: 100%;
    height: 100%;
}

.hover-grid {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    opacity: 0;

}

.hover-grid img {
    width: 50px;
    height: 50px;
}
.icon-grid {
    margin-top: 25%;
    margin-left: 22%;
}

.img-hover:hover .hover-grid {
    opacity: 1;
    transition: 0.5s;
}

.gallary-imeges {
    overflow: hidden;
}

.gallary-btn {
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

footer {
    font-size: 14px;
    color: #bbbbbb;
    text-align: center;
    background-color: #22353f;
    padding: 40px;
    margin-top: 70px;
}
footer span {
    color: #18CFAB;
}

.loading{
    width:100px;
    height:100px;
    border-radius:150px;
    border:15px solid #18CFAB;
    border-top-color:rgba(0,0,0,0.3);
    box-sizing:border-box;
    position:absolute;
    top:50%;left:50%;
    margin-top: -50px;
    margin-left: -50px;
    animation:loading 1.2s linear infinite;
    -webkit-animation:loading 1.2s linear infinite;
}
@keyframes loading{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}
@-webkit-keyframes loading{
    0%{-webkit-transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg)}
}


.text-user {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 16px;
    color: #bbbbbb;
}
.big-logo {
    display: flex;
    justify-content: center;
}

.logo {
    width: 140px;
    height: 140px;
    border: 3px solid #18CFAB;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px 9px rgba(24,201,171,0.4);
}

.sub-logs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    width: 500px;
    height: 100px;

}

.mini-logs {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 3px 3px rgba(24,201,171,0.4);
}

.mini-logs:hover {

    border: 2px solid #18CFAB;
}

.mini-logs img {
    width: 100%;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
}
.arroy {
    width: 32px;
    color: white;
    height: 32px;
    border: 1px solid white;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arroy:hover {
    background-color: #18CFAB;
}

.mini-logs-active {
    align-self: end;
    border: 2px solid #18CFAB;
}

.main-name-user {
    font-size: 16px;
    font-weight: bold;
    color: #18CFAB;
    margin-bottom: 0;
}

.job {
    font-size: 13px;
    color: #bbbbbb;
    margin-top: 0;
}

.info-user {
    margin-bottom: 28px;
    text-align: center;
}

.anim {
    animation: move-side 1s linear;
}

@keyframes move-side {
    from { transform: scale(0); }
    to {transform: scale(1);}
}

